doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      h1= title

      h2 Example Usage:
        p https://fcc-apiproject-4.herokuapp.com/api/imgSearch/cats
        p https://fcc-apiproject-4.herokuapp.com/api/latest/imgSearch

      h2 Example Output:
        p [{"title":"Funny Cats Compilation [Most See] Funny Cat Videos Ever Part 1 ...","link":"https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg","snippet":"Funny Cats Compilation [Most ..."},{"title":"Saudi Cleric Says Posing for Photos With Cats Is Forbidden","link":"http://s.newsweek.com/sites/www.newsweek.com/files/2016/05/25/saudi-arabia-cat-ban.jpg","snippet":"... With Cats Is Forbidden"},{"title":"Cats scared of Cucumbers Compilation - Cats Vs Cucumbers - Funny ...","link":"https://i.ytimg.com/vi/cNycdfFEgBc/maxresdefault.jpg","snippet":"Cats scared of Cucumbers ..."},{"title":"Cats - Purina®","link":"https://www.purina.com/media/629442/seo-article-8-list-grid.jpg/372/299/center/middle","snippet":"Does Purina make cat foods for ..."},{"title":"Funny Cats Compilation - 2016 A Funny cats - YouTube","link":"https://i.ytimg.com/vi/CJTq21dxkeA/maxresdefault.jpg","snippet":"Funny Cats Compilation - 2016 ..."},{"title":"Feral Cat Coalition of Oregon","link":"https://static1.squarespace.com/static/55c945e0e4b04386fb9f8162/55eb967ee4b0296394987fcf/56b90a93d210b8fcb4af0cd9/1467317548487/cover4.jpg?format=1500w","snippet":"Service packages include ..."},{"title":"Free photo: Cat, Animal, Pet, Cats, Close Up - Free Image on ...","link":"https://cdn.pixabay.com/photo/2014/03/29/09/17/cat-300572_960_720.jpg","snippet":"Cat, Animal, Pet, Cats, ..."},{"title":"Cat GIFs - Find & Share on GIPHY","link":"https://media0.giphy.com/media/TUWgpM7cRDfXy/200_s.gif","snippet":"cat cats tired"},{"title":"Cats are so funny you will die laughing - Funny cat compilation ...","link":"https://i.ytimg.com/vi/5dsGWM5XGdg/hqdefault.jpg","snippet":"Cats are so funny you will die ..."},{"title":"Inflatable Unicorn Horn for Cats - Archie McPhee & Co.","link":"http://cdn.shopify.com/s/files/1/1365/2497/products/inflatable_unicorn_horn_for_cats_grande.jpg?v=1470256461","snippet":"... Cats - Archie McPhee - 1 ..."}]
        p [{"query":"cats","when":"Mon Feb 27 2017 00:29:38 GMT-0500 (Eastern Standard Time)"}]
